<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantee.mapper.DiaryMapper">
	<select id="list" resultType="hashmap">
		select * from diary_view where uid=#{uid};
	</select>
	<select id="read" resultType="hashmap">
		select *, date_format(reg_date, '%Y-%m-%d %T') fmtdate, date_format(reg_date, '%Y-%m-%d %T') reg_date
		from diary
		where diary=#{diary_id};
	</select>
</mapper>