<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommMapper">
	<select id="list" resultType="hashmap">
		 SELECT u.address1, u.uid, u.nickname,
    (SELECT SUBSTRING_INDEX(u.address1, ' ', 1) AS address
     FROM users u 
     WHERE p.user_id = u.user_id
     LIMIT 1
    ) AS address, p.*
    FROM posts p, users u 
    WHERE p.user_id = u.user_id
    ORDER BY p.post_id DESC
    LIMIT #{start}, #{size};
	</select>
	
	
	 <insert id="insert">
    	insert into posts (category, uid,user_id, title,contents)
    	values(#{category}, #{uid},#{user_id},#{title}, #{contents});
    </insert>
    
    <delete id="delete">
		delete from posts
		where post_id=#{post_id}
	</delete>
	
	
	<update id="update">
		update posts
		set contents=#{contents},  
		where post_id=#{post_id}
	</update>
	
	<select id="read" resultType="hashmap">
		 SELECT u.address1, u.uid, u.nickname,
    (SELECT SUBSTRING_INDEX(u.address1, ' ', 1) AS address
     FROM users u 
     WHERE p.user_id = u.user_id
     LIMIT 1
    ) AS address, p.*
    FROM posts p, users u 
	where p.user_id = u.user_id and p.post_id=#{post_id}
		</select>
	
	
	 <select id="total" resultType="int">
    	select count(*)
    	from posts;
    </select>
    
       <select id="address1" resultType="String">
		(SELECT SUBSTRING(address1, 1, INSTR(address1, ' ') - 1) AS address
FROM users)
WHERE uid = #{uid};
    </select>
    
    
    
</mapper>


