<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantee.mapper.CommMapper">


	<update id="viewcnt">
		update posts
		set view_cnt=view_cnt + 1
		where post_id=#{post_id}
	</update>


	<select id="list" resultType="hashmap">
		select * from view_comm
		WHERE category=#{category} and
		(title LIKE CONCAT('%', #{query}, '%')) OR (contents LIKE CONCAT('%',
		#{query}, '%'))
		ORDER BY post_id DESC
		LIMIT #{start}, #{size};
	</select>


	<select id="reply_list" resultType="hashmap">
		select c.*

		from comments c , posts p
		where post_id


	</select>


	<select id="filter_list" resultType="hashmap"> select * from view_comm <if
			test="filter!=10">
			where category=#{category} and filter=#{filter}
		</if>  
         <if
			test="filter==10">
			where category=#{category}
		</if> AND ((title LIKE CONCAT('%',
		#{query}, '%')) OR (contents LIKE CONCAT('%', #{query}, '%'))) ORDER BY
		post_id DESC LIMIT #{start}, #{size}; </select>


	<select id="list2" resultType="hashmap">
		SELECT u.address1, u.uid, u.nickname,
		(SELECT SUBSTRING_INDEX(u.address1, ' ', 1) AS address
		FROM users u
		WHERE p.uid = u.uid
		LIMIT 1
		) AS address, p.*
		FROM posts p, users u
		WHERE p.uid = u.uid and p.category=4


		ORDER BY p.post_id DESC
		LIMIT #{start}, #{size};
	</select>


	<insert id="insert">
		insert into posts (category, uid, user_id,nickname,
		title,contents,price,filter,plant_id, image, plant_title,plant_link, store_id)
		values(#{category}, #{uid},(select user_id from users
		where uid=#{uid}),(select nickname from users
		where uid=#{uid}), #{title}, #{contents},#{price},#{filter},#{plant_id},#{image},#{plant_title},#{plant_link},#{store_id});
	</insert>

	<insert id="insert_reply">
		insert into posts (category, uid,
		title,contents,price,filter,post_origin,reply)
		values(#{category}, #{uid}, #{title},
		#{contents},#{price},#{filter},#{post_origin},#{reply});
	</insert>

	<select id="reply_total" resultType="int">
		select count(*)
		from posts
		where post_origin=#{post_origin};
	</select>

	<delete id="delete">
		delete from posts
		where post_id=#{post_id}
	</delete>


	<update id="update">
		update posts
		set title=#{title}, contents=#{contents}
		where post_id=#{post_id}
	</update>

	<select id="read" resultType="hashmap">
		select * from view_comm
		where post_id=#{post_id}
	</select>

	<select id="info" resultType="hashmap">

		select *, (select count(*) from likes where uid=#{uid} and
		post_id=#{post_id}) ucnt
		from view_comm
		where post_id=#{post_id}
	</select>


	<select id="total" resultType="int"> select count(*) from view_comm <if
			test="filter!=10">
			where category=#{category} and filter=#{filter}
		</if>  
         <if
			test="filter==10">
			where category=#{category}
		</if> AND ((title LIKE CONCAT('%',
		#{query}, '%')) OR (contents LIKE CONCAT('%', #{query}, '%'))) </select>


	<select id="address1" resultType="String">
		(SELECT SUBSTRING(address1, 1, INSTR(address1, ' ') - 1) AS address
		FROM users)
		WHERE uid = #{uid};
	</select>


	<select id="search_list" resultType="hashmap">

		select * from
		plant p, store s

		where p.plant_id=s.plant_id and p.common_name like
		concat('%',#{query},'%')
		order by p.plant_id desc
		LIMIT #{start}, #{size};

	</select>


	<select id="total1" resultType="int">
		select count(*) from
		plant p, store s

		where p.plant_id=s.plant_id and p.common_name like
		concat('%',#{query},'%')


	</select>


	<select id="reply_list " resultType="hashmap">
		select * from comments c, posts p
		where c.post_id=p.post_id and c.post_reply>0
		order by c.post_reply;


	</select>


	<update id="update_favorites">
		update posts
		set like_cnt=like_cnt + #{amount}
		where post_id=#{post_id}

	</update>


	<delete id="delete_favorites">
		delete from likes
		where

		user_id=(select user_id from users
		where uid=#{uid}) and post_id=#{post_id}
	</delete>


	<select id="mylikes" resultType="int">
		select count(*)
		from likes
		where post_id=${post_id} and user_id=(select user_id from users
		where uid=#{uid});
	</select>


	<insert id="insert_favorites">
		insert into likes(user_id, post_id)

		values((select user_id from users
		where uid=#{uid}),#{post_id})
	</insert>

<insert id="vote_insert">
		insert into vote(post_id,vote_title,uid,res,res2,res3)
		values((select MAX(post_id) from posts), #{title},(select uid from
		posts where post_id=(select Max(post_id) from
		posts)),#{res},#{res2},#{res3});
	</insert>

	<update id="update_reply">
		update posts
		set reply=reply + #{amount}
		where post_id=#{post_id}
	</update>

 

	<select id="show_vote" resultType="hashmap">
	select * from vote
	where post_id=#{post_id};
	</select>
	
	
		<update id="update_votecnt">
   update vote  
    <set>
        <if test="option==1">
            result1 = result1 + 1,
        </if>  
        <if test="option==2">
            result2 = result2 + 1,
        </if>  
        <if test="option==3">
            result3 = result3 + 1,
        </if>  
    </set>
    where post_id=#{post_id} 
		
	</update>


	<insert id="update_vote_result">
		insert into vote_res (vote_id,post_id,vote_option,uid) values(#{vote_id},#{post_id}, #{option}, #{uid});
		</insert>
		
		
	<select id="myvote" resultType="hashmap">
		select count(*)as cnt ,vote_option
from vote_res
where post_id=#{post_id} and uid=#{uid};
		
	</select>
	
	<update id="update_votes">
	
	update vote set vote_title=#{vote_title} ,res=#{res}, res2=#{res2}, res3=#{res3}
where post_id=#{post_id};
</update>


</mapper>

	
    
    
 