<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantee.mapper.DiaryMapper">
	<select id="list" resultType="hashmap">
      select * from view_diary where uid=#{uid};
   </select>
   <select id="read" resultType="hashmap">
      select * from view_diary where diary_id=#{diary_id};
   </select>
   <insert id="insert">
		insert into diary(user_id, plant_name, image, contents, plant_id)
		value((select user_id from users where uid = #{uid}), #{plant_name}, #{image},#{contents}, #{plant_id});
   </insert>
   <update id="update">
		update diary
		set plant_id = #{plant_id}, plant_name =#{plant_name}, contents=#{contents}, image=#{image}
		where diary_id=#{diary_id};
   </update>
   <delete id="delete">
   		delete from diary where diary_id=#{diary_id};
   </delete>
   <select id="storelist" resultType="hashmap">
	   	select s.title, s.price, s.image
		from store as s, view_diary as d
		where d.care_level=s.level and diary_id=#{diary_id};
   </select>
   <update id="water_update">
	    update diary 
		set last_watering=now()
		where diary_id=#{diary_id};
   </update>
</mapper>