<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantee.mapper.PlantMapper">
	<select id="read" resultType="hashmap">
		select *
		from plant
		where plant_id = #{plant_id};
	</select>
	
	<select id="list" resultType="hashmap">
		select *
		from plant
		order by plant_id desc;
	</select>
	
	<select id="total" resultType="int">
		select count(*)
		from plant;
	</select>
	
	<insert id="insert">
		insert into plant(common_name, image, contents, watering, sunlight, care_level, leaf, flowers, fruits,
			type, indoor, poisonous_pet, cuisine)
		values(#{common_name}, #{image}, #{contents}, #{watering}, #{sunlight}, #{care_level}, #{leaf}, #{flowers}, #{fruits},
			#{type}, #{indoor}, #{poisonous_pet}, #{cuisine});
	</insert>
	
	<update id="update">
		update plant
		set common_name = #{common_name}, image = #{image}, contents = #{contents}, watering = #{watering}, sunlight = #{sunlight},
			care_level = #{care_level}, leaf = #{leaf}, flowers = #{flowers}, fruits = #{fruits}, type = #{type},
			indoor = #{indoor}, poisonous_pet = #{poisonous_pet}, cuisine = #{cuisine}
		where plant_id = #{plant_id}
	</update>
	
	<delete id="delete">
		delete from plant
		where plant_id = #{plant_id};
	</delete>
</mapper>
