<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantee.mapper.RecipeMapper">
	<select id="read" resultType="hashmap">
		select *
		from view_recipe
		where recipe_id = #{recipe_id};
	</select>
	
	<select id="list" resultType="hashmap">
		select *
		from view_recipe
		order by recipe_id desc;
	</select>
	
	<select id="total" resultType="int">
		select count(*)
		from recipe;
	</select>
	
	<update id="update">
		update recipe
		set title = #{title}, description = #{description}, image = #{image}, level = #{level}, mdfy_date=now()
		where recipe_id = #{recipe_id}
	</update>
	
	<insert id="insert">
		insert into recipe(title, description, image, level, uid)
		values(#{title}, #{description}, #{image}, #{level}, #{uid})
	</insert>
	
	<delete id="delete">
		delete from recipe
		where recipe_id=#{recipe_id}
	</delete>
	
	<!-- Comments -->
	<select id="review_list" resultType="hashmap">
		select c.comment_id, c.user_id, c.recipe_id, c.contents, c.image, c.reg_date, c.mdfy_date, c.like_cnt, c.category,
			u.uid, u.nickname, u.image, date_format(c.reg_date, '%Y-%m-%d %T') fmtdate
		from comments as c, users as u
		where category=2 and c.user_id=u.user_id and recipe_id= #{recipe_id}
		order by comment_id desc;
	</select>
	
	<insert id="review_insert">
		insert into comments(user_id, recipe_id, contents, category, uid)
		select (select user_id
		from users
		where uid = #{uid}),
		#{recipe_id}, #{contents}, 2, #{uid};
	</insert>
	
	<delete id="review_delete">
		delete from comments
		where comment_id=#{comment_id}
	</delete>
	
	<update id="review_update">
		update comments
		set contents=#{contents}, mdfy_date=now()
		where comment_id=#{comment_id}
	</update>
	
	<select id="review_total" resultType="int">
		select count(*)
		from comments
		where category=2 and recipe_id=#{recipe_id}
	</select>
</mapper>