<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantee.mapper.UserMapper">
	<select id="read" resultType="hashmap">
        select *, date_format(reg_date, '%Y년%m월%d일 %T') reg_date, date_format(mdfy_date, '%Y-%m-%d %T') fmtmdfydate
        from users
        where uid = #{uid};
    </select>
	<select id="login" resultType="com.plantee.domain.UserVO">
		select * from users where uid = #{uid};
	</select>
	<insert id="insert">
      insert into users(uid, upass, uname, nickname, phone, address1, address2, image, seller_yn)
      values(#{uid}, #{upass}, #{uname}, #{nickname}, #{phone}, #{address1}, #{address2}, #{image}, #{seller_yn});
   	</insert>
	<update id="update">
		update users
		set nickname = #{nickname}, phone = #{phone}, address1 = #{address1}, address2 = #{address2}
		where uid = #{uid};
	</update>
	<update id="password">
		update users
		set upass = #{upass}
		where uid = #{uid};
	</update>
	<update id="image">
		update users
		set image = #{image}
		where uid = #{uid};
	</update>
	 <delete id="delete">
   		delete from users where uid=#{uid};
   </delete>
</mapper>